<div class="au-c-sidebar__header">
  <AuHeading @level="6" @skin="6">Menu modules</AuHeading>
</div>
<nav>
  <ul class="au-c-list-navigation">
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route="requests">
        <AuIcon @icon="archive" @alignment="left" />
        Aanvragen
      </AuNavigationLink>
    </li>
  </ul>
</nav>