<AuContentHeader @titlePartOne="Cycling" @titlePartTwo="Race Organizer">
  {{!-- <img
    sizes="50vw"
    src={{root-url "/images/loket-header-1600.jpg"}}
    alt="Foto van een laptop met daarop het vlaanderen logo."
  /> --}}
</AuContentHeader>

<section class="au-o-region-large">
  <div class="au-o-layout">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">
        <AuContent @skin="large">
          <h1>Welkom bij de Cycling Race Organizer</h1>
          <p class="au-c-heading au-c-heading--4">Uw webapplicatie voor het beheren van wielerwedstrijden en veldritten. Dien eenvoudig vergunningen in, upload parcours en coördineer met lokale overheden – allemaal op één plek.</p>
          <p>Problemen met aanmelden? Neem contact op met uw interne beheerder. Bij verdere vragen kunt u terecht bij 
            <a
              class="au-c-link"
              href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer"
            >gebruikersbeheer Vlaanderen</a>.</p>
          <p>Zorg ervoor dat de instellingen van uw browser pop-ups toestaan voor een vlotte aanmeldingsprocedure.</p>
        </AuContent>
      </div>
      <div
        class="au-o-grid__item au-u-1-4@small au-u-1-2@medium au-u-text-right@medium"
      >
        
      </div>
    </div>
  </div>
</section>